.page-node .comments--comment-meta-data {
  height: 50px;
}

.js--search {
  margin-bottom: 1.5em;
  position: relative;
}

.search-filter--links {
  overflow: hidden;
  margin-bottom: 1.5em;
}
.search-filter--links .search-filter--label {
  padding: 0 1em;
}

.search-filter--links .search-filter--link-wrapper {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  float: left;
}

.search-filter--links .search-filter--link {
  border-radius:.4em;
  text-decoration: none;
  display: block;
  padding: .5em 0;
  text-align: center;
  color: white;
}

@media only screen and (max-width : 489px) {
  .search-filter--links .search-filter--link-wrapper {
    width: 100%;
  }
}

@media only screen and (min-width : 490px) {
  .search-filter--links .search-filter--link-wrapper {
    width: 50%;
  }
}

@media only screen and (min-width : 960px) {
  .search-filter--links .search-filter--link-wrapper {
    width: 25%;
  }
}